<div>
    <article>
      <div class="article-image-container">
        <img src="https://img.freepik.com/free-vector/newspaper-concept-illustration_114360-22666.jpg?w=826"><br>
        <button class="btn btn-warning mx-3 my2">Edit Photo</button>
        <button class="btn btn-warning my-2">Edit Profile</button>
      </div>
      <div class="content-container">
        <h3 class="article-title">Profile</h3>
        <p class="article-content"> I'm Name% and Im above age& years and you can send your emails to Email#.I live in the state of state*.I like to play hockey and reading books.And please send me newsletters.Please reach out to me on my phone number.</p>
        
        <button class="read-more-btn">I Agree</button>
      </div>
    </article>
      </div>