<div>
    <article *ngFor="let data of data">
      <div class="article-image-container">
        <img src="../../assets/profile.jpg"><br>
        <!-- <button class="btn btn-warning mx-3 my2">Edit Photo</button> -->
        <button class="btn btn-warning my-4 mx-5" (click)="openDialog(data.id)">Edit Profile</button>
      </div>
      <div class="content-container">
        <h3 class="article-title" >Profile</h3>
        <p class="article-content"> I'm <b>{{data.fName}} {{data.lName}} </b> and Im above <b>{{data.age}}</b> years and you can send your emails to <span style="color: rgb(126, 181, 237);"> <b>{{data.email}}</b></span>.I live in the state of {{data.state}}.I like to play hockey and reading books.And please send me newsletters.Please reach out to me on my phone number  {{data.contact}}.</p>
        
        <button class="read-more-btn">I Agree</button>
      </div>
    </article>
      </div>